*.a    
*.o      
*.pyc   
!lib.a    
/TODO     
build/    
.libs/
lib/
cddlib-0.94m/
gmp-6.1.2/
m4-1.4.1/
mpfr-4.1.0/
test_nns/
data/mnist_test_full.csv
data/cifar10_test_full.csv
install_geometric.sh
overview.png
data/acasxu/
tf_verify/LP_solver.log
tf_verify/nohup.out
tf_verify/fullrefine001_out.txt
gurobi950
eran_env/
tf_verify/stress_test_result/
*.o
*.so
ELINA/fppoly/*.o